main {
  @include flex(column, center, center);
  height: 100dvh;
  padding: $gap-spacing;

  //   position: relative;

  #planning {
    @include round-corner;
    background: $c-white-process;
    height: 89dvh;
    width: 100%;

    margin: auto;
    box-shadow: $shadow;
  }

  #tools {
    @include flex(row, center, space-evenly);
    @include round-corner;
    background: $c-primary-color;
    padding: $padding-spacing;
    min-height: 1rem;

    color: $c-white-process;
    box-shadow: $shadow;

    position: absolute;
    transform: translate(-50%, 100%);
    left: 50%;
    bottom: 8px;
    width: 150px;

    transition: all 0.55s ease-in-out;

    li {
      display: none;
      a {
        @include flex(column, center, center);
        gap: $gap-spacing / 3;
        text-align: center;
      }
    }

    &.active-toolbar {
      bottom: 13%;
      width: fit-content;

      li {
        display: inline;
        width: 18ch;
      }
    }
  }
}
