nav {
  @include flex(column, left, center);

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1vw;

  max-height: 180px;

  user-select: none;

  .notification {
    a {
      padding-left: 0.55rem;
    }
  }

  menu {
    @include flex(column, left, center);

    cursor: pointer;
    color: $c-white-process;

    background-color: $c-primary-color;
    list-style: none;
    border-radius: $radius;
    box-shadow: $shadow;

    height: clamp(21dvh, fit-content, 55dvh);

    padding: $padding-spacing;

    transition: width 0.34s ease-in-out;

    &:hover {
      padding: $padding-spacing;

      .label {
        text-align: left;
        width: 13ch;
        display: block;
      }
    }

    a {
      @include flex(row, center, center);

      color: $c-white-process;

      .label {
        width: 13ch;
        display: none;
      }
    }

    hr {
      margin: auto;
      width: 89%;
      border-radius: 3%;
      border: solid $c-white-process 1px;
    }
  }

  // .promotion {
  //   border: solid red;
  // }
}
