nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1vw;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  gap: 13px;

  .notification {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: $c-black-process;

    i {
      position: relative;
    }
  }

  .alert {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 100%;
      transform: translate(-50%, -50%);

      height: 8px;
      aspect-ratio: 1/1;
      border-radius: 50%;
      background-color: $c-alert-color;
    }
  }

  menu {
    background-color: $c-primary-color;
    padding: 8px;
    list-style: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;

    border: none;
    border-radius: 5px;
    box-shadow: 0 0 2px $c-black-process;

    &:hover {
      padding: 13px 8px;

      button {
        .label {
          display: block;
          width: 10ch;
          text-align: left;
        }
      }
    }

    button {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 13px;

      background: transparent;
      border: none;

      color: $c-white-process;

      .label {
        display: none;
      }
    }

    hr {
      margin: auto;
      border-radius: 50%;
      border: solid $c-white-process 1px;
    }
  }

  //   .promotion {
  //     border-radius: 5px;
  //     height: 89px;
  //     outline: $c-primary-color solid thin;
  //     box-shadow: 2px 3px 5px $c-primary-color;
  //   }
}
