form {
  border: solid red;
  padding: $padding;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: $gap-spacing;

  & > * {
    border: solid;
    height: fit-content;
  }

  .infos-teacher__left
  /* .infos-teacher__right, */
  /* .infos-teacher__disponibility */ {
    & > div {
      display: grid;
      gap: $gap-spacing;

      border: solid red;
    }
  }

  .infos-teacher__left {
    input {
      width: 34ch;
      height: 1rem;
    }
  }
  .infos-teacher__disponibility {
    grid-column: 1 / -1;
  }
}
