form#infos-teacher {
  // border: solid;
  @include flex(column, center, center);

  .infos-teacher__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $gap-spacing;
    height: clamp(100px, fit-content, 550px);

    overflow-y: auto;

    scrollbar-gutter: stable;
    scroll-behavior: smooth;
    scrollbar-width: thin;

    & > * {
      border: transparent thin solid;
      padding: $padding;
      // border: solid red;

      & > * {
        // border: solid green;
        display: grid;
        gap: $gap-spacing;
      }
    }

    .infos-teacher__container__identification__item,
    .infos-teacher__container__courses__item {
      label {
        display: block;
        font-weight: bold;
      }

      input,
      select {
        text-align: center;
        border: none;
        width: 100%;
        height: 2rem;
      }

      input:focus {
        outline: solid $c-primary-color thin;
      }
    }

    .infos-teacher__container__classroom ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .infos-teacher__container__availability {
      grid-column: 1/-1;
    }
  }

  button[type="submit"] {
    border: transparent;
    grid-column: 1/-1;
    height: 3rem;
    padding: $padding;
    line-height: 1rem;
    @include flex(row, center, center);

    &:hover {
      background-color: $c-primary-color;
      color: white;
    }
  }
}
