// ++++++++++++++++++++++ Fonts settings +++++++++++++++++++++
@font-face {
  font-family: "newForest-regular";
  src: url(../../assets/fonts/NewForest-Regular.otf);
}

@font-face {
  font-family: "newForest-italic";
  src: url(../../assets/fonts/NewForest-Regular.otf);
}

@font-face {
  font-family: "tiempos-regular";
  src: url(../../assets/fonts/TiemposHeadline-Regular.otf);
}

$f-processs: "newForest-italic", serif;
$f-headings: "newForest-regular", serif;
$f-regular: "", sans-serif;

// +++++++++++++++++++++ Colors settings +++++++++++++++++++++

$c-primary-color: teal;
$c-secondary-color: wheat;
$c-alert-color: rgb(149, 09, 82);
$c-background-color: wheat;
$c-white-process: rgb(245, 245, 245);
$c-black-process: rgb(34, 34, 34);

// ++++++++++++++++++++++ reset +++++++++++++++++++++
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

// ++++++++++++++++++++++ Variables settings +++++++++++++++++++++
$gap-spacing: 3dvh;
$padding-spacing: 13px 8px;
$radius: 5px;
$shadow: 2px 0px 37px -13px $c-black-process;

// ++++++++++++++++++++++ Mixins settings +++++++++++++++++++++
@mixin flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $gap-spacing;
}

@mixin round-corner {
  border-radius: $radius;
}

// ++++++++++++++++++++++ General settings +++++++++++++++++++++
body {
  font-family: $f-regular;
  background: $c-background-color;
  overflow: hidden;
  cursor: none;
  height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $f-headings;
  text-wrap: balance;
}

p,
li,
a {
  text-wrap: pretty;
  max-width: 75ch;
  font-size: 0.89rem;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
  z-index: 100;
}

a,
a:visited,
button {
  font-family: $f-regular;
  font-weight: 600;

  &:hover {
    cursor: pointer;
  }
}

#cursor {
  position: absolute;
  height: 13px;
  aspect-ratio: 1/1;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: $c-white-process;
  mix-blend-mode: exclusion;
}

.alert {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    transform: translate(-50%, -50%);

    height: 8px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: $c-alert-color;
  }
}
