@charset "UTF-8";
@import "./settings/normalize.css";
@font-face {
  font-family: "newForest-regular";
  src: url(../../assets/fonts/NewForest-Regular.otf);
}
@font-face {
  font-family: "newForest-italic";
  src: url(../../assets/fonts/NewForest-Regular.otf);
}
@font-face {
  font-family: "tiempos-regular";
  src: url(../../assets/fonts/TiemposHeadline-Regular.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border-radius: 5px;
}

body {
  font-family: "", sans-serif;
  background: wheat;
  overflow: hidden;
  cursor: none;
  height: 100dvh;
  color: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "newForest-regular", serif;
  letter-spacing: 1px;
  text-wrap: balance;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  width: 100%;
}

p,
li,
a {
  text-wrap: pretty;
  max-width: 75ch;
  font-size: 1rem;
}

a,
a:visited,
button {
  color: inherit;
  transition: 0.21s ease-in-out;
  position: relative;
  z-index: 100;
}

.mouse {
  position: absolute;
  transform: translate(-50%, -50%);
  mix-blend-mode: exclusion;
}

#cursor {
  width: 13px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background: rgb(245, 245, 245);
  transition: 0.01s ease-in-out;
}

#mouse1 {
  mix-blend-mode: normal;
  color: rgb(34, 34, 34);
  transition: 0.13s ease-in-out;
  transform: translateX(21px);
}

.alert::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  transform: translate(-50%, -50%);
  height: 8px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: rgb(149, 9, 82);
}

.help-on-hover {
  padding: 13px 8px;
  width: 34ch;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 5px;
  background: rgb(245, 245, 245);
  border: solid teal thin;
  filter: drop-shadow(0 0 1px);
}

.teasing {
  position: relative;
}
.teasing:before {
  position: absolute;
  content: "Bientôt disponible";
  text-align: center;
  background-color: rgb(149, 9, 82);
  padding: 13px 8px;
  color: rgb(245, 245, 245);
  border-radius: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 89%;
  z-index: 1000;
  filter: drop-shadow(0 0 3px rgb(149, 9, 82));
}
.teasing:after {
  content: "";
  position: absolute;
  background: grey;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  opacity: 0.89;
  border-radius: 5px;
}

body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 13px 8px;
}
body > *:not(span, nav, .header) {
  background: rgb(245, 245, 245);
  color: rgb(34, 34, 34);
}
body main {
  width: 100%;
  height: 89%;
  padding: 13px 8px;
}
body aside {
  width: 34dvw;
  height: clamp(300px, -moz-fit-content, 100%);
  height: clamp(300px, fit-content, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 13px 8px;
}

.header {
  position: absolute;
  top: 1dvh;
  left: 1dvw;
  width: 89%;
}
.header__logo {
  font-family: "newForest-italic", serif;
  color: teal;
  font-weight: bold;
}
.header__logo a {
  font-size: 2.1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  top: 50dvh;
  transform: translateY(-50%);
  left: 1dvw;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.navbar__tools, .navbar__options {
  position: relative;
}
.navbar__tools:hover, .navbar__options:hover {
  scale: 1.1;
}
.navbar__tools__container, .navbar__options__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background: teal;
  padding: 13px 8px;
  color: rgb(245, 245, 245);
}
.navbar .navbar__notifications__item:hover,
.navbar .navbar__tools__item:hover,
.navbar .navbar__options__item:hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  scale: 1.3;
}

.navbar__tools__item__tag h4,
.navbar__tools__item__tag p,
.navbar__options__item__tag h4,
.navbar__options__item__tag p {
  display: none;
  text-wrap: pretty;
  max-width: 75ch;
}

#planning {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
#planning .planning__container {
  height: clamp(300px, -moz-fit-content, 100%);
  height: clamp(300px, fit-content, 100%);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-evenly;
  gap: 1rem;
}
#planning .planning__container__weekdays {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  font-weight: bold;
}

#calendar {
  padding: 13px 8px;
  width: 89%;
}
#calendar #month-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 10px;
}
#calendar #month-navigation #month-year {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}
#calendar #month-navigation .nav-btn {
  background-color: teal;
  color: white;
  font-weight: bold;
  border: none;
  padding: 13px 8px;
  border-radius: 5px;
  cursor: pointer;
}
#calendar .weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}
#calendar .days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}
#calendar .days .day {
  border-radius: 5px;
  padding: 3px;
}
#calendar .days .today {
  color: rgb(245, 245, 245);
  background: rgb(149, 9, 82);
  position: relative;
  font-weight: bold;
}
#calendar .days .other-month {
  color: #ccc;
}
#calendar #today-btn {
  display: block;
  margin: 10px auto;
  background-color: teal;
  color: white;
  border: none;
  padding: 13px 8px;
  border-radius: 5px;
  cursor: pointer;
}

#dates {
  width: 55%;
}/*# sourceMappingURL=styles.css.map */